@import "tailwindcss";

@import "./font.css";

@source inline("bg-team-red");
@source inline("bg-team-blue");
@source inline("has-[:checked]:bg-team-red");
@source inline("has-[:checked]:bg-team-blue");

html, body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

input {
  color-scheme: dark;
}

input[type=submit], input[type=reset], input[type=checkbox], button {
    cursor: pointer;
}

input[disabled], button[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
}

label {
    cursor: pointer;
}

@theme {
    --default-font-family: InterVariable, Arial, sans-serif;
    --color-bg-red: #3a1934;
    --color-bg-purple: #30193e;
    --color-bg-blue: #4927ba;

    --color-bg-red-nav: #572650;
    --color-bg-purple-nav: #4a265c;
    --color-bg-blue-nav: #5834ba;

    --color-highlight: #5c4299;
    --color-highlight-accent: #9267c0;
    --color-discord: #5865F2;
    --color-border: var(--color-violet-300);

    --color-red-primary: #dc0000;
    --color-red-secondary: #e461c0;
    --color-blue-primary: #112cc2;
    --color-blue-secondary: #7a52ff;

    --gradient-red: linear-gradient(36deg, var(--color-red-primary) 10%, var(--color-red-secondary) 100%);
    --gradient-blue: linear-gradient(334deg, var(--color-blue-primary) 10%, var(--color-blue-secondary) 100%);
    --gradient-pop: linear-gradient(30deg, #ff8800 10%, #e14700 100%);
    --rainbow: linear-gradient(
        -45deg,
        #d16eff 0%,
        #65afff 10%,
        #d7ff8b 20%,
        #ffdc7e 30%,
        #ffdc7e 40%,
        #d16eff 50%,
        #65afff 60%,
        #d7ff8b 70%,
        #ffdc7e 80%,
        #ffdc7e 90%,
        #d16eff 100%
    );
}

@utility clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@utility bg-animate {
    animation: gradient 0.4s linear infinite;
    background-size: 200% 200%;
}

@utility bg-team-red {
    background-image: var(--gradient-red);
}

@utility bg-team-blue {
    background-image: var(--gradient-blue);
}

@utility arrow-l-* {
    corner-shape: bevel round round bevel;
    border-radius:
        calc(var(--spacing) * --value(integer) * 2)
        calc(var(--spacing) * --value(integer))
        calc(var(--spacing) * --value(integer))
        calc(var(--spacing) * --value(integer) * 2)
    ;
}

@utility arrow-r-* {
    corner-shape: round bevel bevel round;
    border-radius:
        calc(var(--spacing) * --value(integer))
        calc(var(--spacing) * --value(integer) * 2)
        calc(var(--spacing) * --value(integer) * 2)
        calc(var(--spacing) * --value(integer))
    ;
}

@utility transition-user-score {
    transition: top 0.5s, opacity 0.5s;
}

@keyframes gradient {
    0% {
        background-position-y: 0 0;
    }
    100% {
        background-position: 100% 100%;
    }
}

@page {
   margin: 0;
   size: A4;
}
