extends ../layout.pug

block body
    form(action="/admin/assign" method="post")
        h2(class="text-2xl font-semibold mb-4") Assign points

        div(class="flex space-x-3 items-center mb-3")
            label(data-points-type class="py-1.5 px-3 cursor-pointer rounded-lg border border-border/50 has-[:checked]:bg-(image:--gradient-red) has-[:focus]:border-white")
                span Red
                input(name="type" type="radio" value="Red" required class="w-0")
            label(data-points-type class="py-1.5 px-3 cursor-pointer rounded-lg border border-border/50 has-[:checked]:bg-(image:--gradient-blue) has-[:focus]:border-white")
                span Blue
                input(name="type" type="radio" value="Blue" required class="w-0")
            label(data-points-type class="py-1.5 px-3 cursor-pointer rounded-lg border border-border/50 has-[:checked]:bg-highlight has-[:focus]:border-white")
                span Player
                input(name="type" type="radio" value="Player" required class="w-0")

        div(class="grid grid-cols-[repeat(2,min-content)]")
            label(data-player-field class="py-2 px-3 grid grid-cols-subgrid col-span-2 hidden")
                span(class="py-2 pr-3") Player
                div(data-dropdown class="relative")
                    select(data-dropdown-input data-player-input name="userId" class="hidden")
                        option(value="") Select player
                        each user in users
                            option(value=user.id)=user.discordUsername
                    button(data-dropdown-button type="button" class="w-full py-2 px-3.5 border border-border/80 rounded-sm text-left flex items-center")
                        span(class="flex-grow") Select player
                        img(src="/select-arrow.svg" class="w-5 -mx-1")
                    div(data-dropdown-menu class="absolute z-1 hidden top-full left-0 w-full bg-highlight rounded-b")
                        div(class="py-2 px-2")
                            input(data-dropdown-filter class="py-2 px-3.5 border border-border/80 rounded-sm w-full" type="text")
                        div(class="max-h-60 overflow-y-auto")
                            each user in users
                                div(data-dropdown-item tabindex="0" class="py-2 px-3.5 hover:bg-white/20 focus:bg-white/20 cursor-pointer" data-value=user.id)
                                    =helpers.formatName(user)

            label(class="py-2 px-3 grid grid-cols-subgrid col-span-2")
                span(class="py-2 pr-3") Points
                input(name="points" type="number" step="10" min="10" required class="py-2 px-3.5 border border-border/80 rounded-sm")

            label(class="py-2 px-3 grid grid-cols-subgrid col-span-2")
                span(class="py-2 pr-3") Reason
                input(name="reason" type="text" required maxlength="256" class="py-2 px-3.5 border border-border/80 rounded-sm")

            label(class="py-2 px-3 grid grid-cols-subgrid col-span-2")
                span(class="py-2 pr-3") Event
                div(data-dropdown class="relative")
                    select(data-dropdown-input data-player-input name="eventId" class="hidden")
                        option(value="") None
                        each event in events
                            option(value=event.id)=event.name
                    button(data-dropdown-button type="button" class="w-full py-2 px-3.5 border border-border/80 rounded-sm text-left flex items-center")
                        span(class="flex-grow") None
                        img(src="/select-arrow.svg" class="w-5 -mx-1")
                    div(data-dropdown-menu class="absolute z-1 hidden top-full left-0 w-full bg-highlight rounded-b")
                        div(class="py-2 px-2")
                            input(data-dropdown-filter class="py-2 px-3.5 border border-border/80 rounded-sm w-full" type="text")
                        div(class="max-h-60 overflow-y-auto")
                            div(data-dropdown-item tabindex="0" class="py-2 px-3.5 hover:bg-white/20 focus:bg-white/20 cursor-pointer" data-value="") None
                            each event in events
                                div(data-dropdown-item tabindex="0" class="py-2 px-3.5 hover:bg-white/20 focus:bg-white/20 cursor-pointer" data-value=event.id)
                                    =event.name

            div(class="mt-2")
                input(type="submit" name="submit" value="Submit" class="py-1.5 px-3 rounded-md border border-border/80 bg-highlight")
