extends ../layout.pug

block body
    form(action="/admin/assign" method="post")
        h2(class="text-2xl font-semibold mb-3") Assign points

        div(class="flex space-x-3 items-center mb-3")
            label(data-points-type class="py-1.5 px-3 cursor-pointer rounded-lg border border-border/50 has-[:checked]:bg-(image:--red-team) has-[:focus]:border-white")
                span Red
                input(name="type" type="radio" value="Red" required class="w-0")
            label(data-points-type class="py-1.5 px-3 cursor-pointer rounded-lg border border-border/50 has-[:checked]:bg-(image:--blue-team) has-[:focus]:border-white")
                span Blue
                input(name="type" type="radio" value="Blue" required class="w-0")
            label(data-points-type class="py-1.5 px-3 cursor-pointer rounded-lg border border-border/50 has-[:checked]:bg-highlight has-[:focus]:border-white")
                span Player
                input(name="type" type="radio" value="Player" required class="w-0")

        div(class="grid grid-cols-[repeat(2,min-content)]")
            label(data-player-field class="py-2 px-3 grid grid-cols-subgrid col-span-2 hidden")
                span(class="py-1 pr-3") Player
                select(data-player-input name="userId" class="py-1 px-2 border border-border/50 rounded-xs")
                    option(value="") Select player
                    each user in users
                        option(value=user.id)=user.discordUsername

            label(class="py-2 px-3 grid grid-cols-subgrid col-span-2")
                span(class="py-1 pr-3") Points
                input(name="points" type="number" step="10" min="10" required class="py-1 px-2 border border-border/80 rounded-xs")

            label(class="py-2 px-3 grid grid-cols-subgrid col-span-2")
                span(class="py-1 pr-3") Reason
                input(name="reason" type="text" required maxlength="256" class="py-1 px-2 border border-border/80 rounded-xs")

            div(class="mt-2")
                input(type="submit" name="submit" value="Submit" class="py-1.5 px-3 rounded-md border border-border/80 bg-blue-400/70")
