extends ../../layout.pug

block body
    form(action=`/admin/events/create` method="post")
        h2(class="text-2xl font-semibold mb-4") Create event

        input(type="hidden" name="csrf" value=csrfToken)

        div(class="grid grid-cols-[repeat(2,max-content)]")
            label(class="py-2 px-3 grid grid-cols-subgrid col-span-3")
                span(class="py-2 pr-3") Name
                input(name="name" type="text" required maxlength="256" class="py-2 px-3.5 border border-border/80 rounded-sm")

            label(class="py-2 px-3 grid grid-cols-subgrid col-span-3")
                span(class="py-2 pr-3") Description
                textarea(name="description" type="text" maxlength="1024" class="py-2 px-3.5 border border-border/80 rounded-sm field-sizing-content")

            +datetime("startTime", "Start time")

            label(class="py-2 px-3 grid grid-cols-subgrid col-span-3")
                span(class="py-2 pr-3") Duration (minutes)
                input(name="duration" type="number" required min="0" step="1" class="py-2 px-3.5 border border-border/80 rounded-sm")

            label(data-player-field class="py-2 px-3 grid grid-cols-subgrid col-span-3" data-event-game)
                span(class="py-2 pr-3") Game
                +dropdown("gameId", games, undefined, false, 'Select game', (game) => game.name)

            label(class="py-2 px-3 grid grid-cols-subgrid col-span-3 hidden" data-event-points)
                span(class="py-2 pr-3") Points per 10 mins
                input(name="points" type="number" min="0" step="10" data-event-points-input class="py-2 px-3.5 border border-border/80 rounded-sm")

            label(class="py-2 px-3 grid grid-cols-subgrid col-span-3" data-event-points)
                span(class="py-2 pr-3") Cancelled?
                div
                    input(name="isCancelled" type="checkbox" data-event-points-input class="w-4 h-4 my-2 border border-border/80 rounded-sm")

            div(class="mt-2 flex gap-2")
                input(type="submit" name="submit" value="Save" class="py-1.5 px-3 rounded-md border border-border/80 bg-highlight")
                input(type="reset" value="Reset" class="py-1.5 px-3 rounded-md border border-border/80 bg-highlight")
