extends layout.pug

block body
    if helpers.isUserError(error)
        h1(class="text-2xl font-semibold mb-4") An error occurred
        p=error.message
    else
        h1(class="text-2xl font-semibold mb-4") An unexpected error occurred :(
        p Please contact @baconsmoothie if this keeps happening.
