extends layout.pug

block body
    h1(class="text-2xl font-semibold mb-4")=event.name
    if existing
        p(class="mb-2") You already got your points!
    else
        p(class="mb-2")
            ="Good job! Get "
            span(class="inline-block -rotate-2")
                +pointsTag(event.eventPoints)
