@import "tailwindcss";

@import "./font.css";

@source inline("bg-(image:--bg-red-team)");
@source inline("bg-(image:--bg-blue-team)");

html,
body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

input[type=submit], button {
    cursor: pointer;
}

@theme {
    --default-font-family: InterVariable;
    --color-bg-red: #3a1934;
    --color-bg-purple: #30193e;
    --color-bg-blue: #4927ba;
    --color-highlight: #5c4299;
    --color-border-highlight: #9267c0;
    --color-discord: #5865F2;
    --color-team-red: var(--color-rose-800);
    --color-team-blue: var(--color-indigo-800);
    --color-border: var(--color-violet-300);

    --color-red-primary: #dc0000;
    --color-red-secondary: #e461c0;
    --color-blue-primary: #112cc2;
    --color-blue-secondary: #7a52ff;

    --bg-red-team: linear-gradient(36deg, var(--color-red-primary) 10%, var(--color-red-secondary) 100%);
    --bg-blue-team: linear-gradient(334deg, var(--color-blue-primary) 10%, var(--color-blue-secondary) 100%);
    --bg-highlight: linear-gradient(0deg, var(--color-highlight) 0%, var(--color-border-highlight) 100%);
}
