@import "tailwindcss";

@import "./font.css";

@source inline("bg-(image:--gradient-red)");
@source inline("bg-(image:--gradient-blue)");

html,
body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

input[type=submit], button {
    cursor: pointer;
}

@theme {
    --default-font-family: InterVariable;
    --color-bg-red: #3a1934;
    --color-bg-purple: #30193e;
    --color-bg-blue: #4927ba;

    --color-highlight: #5c4299;
    --color-border-highlight: #9267c0;
    --color-discord: #5865F2;
    --color-team-red: var(--color-rose-800);
    --color-team-blue: var(--color-indigo-800);
    --color-border: var(--color-violet-300);

    --color-red-primary: #dc0000;
    --color-red-secondary: #e461c0;
    --color-blue-primary: #112cc2;
    --color-blue-secondary: #7a52ff;

    --gradient-red: linear-gradient(36deg, var(--color-red-primary) 10%, var(--color-red-secondary) 100%);
    --gradient-blue: linear-gradient(334deg, var(--color-blue-primary) 10%, var(--color-blue-secondary) 100%);
    --gradient-pop: linear-gradient(30deg, #ff8800 10%, #e14700 100%);
    --rainbow: linear-gradient(
        -45deg,
        #d16eff 0%,
        #65afff 10%,
        #d7ff8b 20%,
        #ffdc7e 30%,
        #ffdc7e 40%,
        #d16eff 50%,
        #65afff 60%,
        #d7ff8b 70%,
        #ffdc7e 80%,
        #ffdc7e 90%,
        #d16eff 100%
    );
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.bg-animate {
    animation: gradient 0.4s linear infinite;
    background-size: 200% 200%;
}

@keyframes gradient {
    0% {
        background-position-y: 0 0;
    }
    100% {
        background-position: 100% 100%;
    }
}
